/*.cover {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  background: url('https://images.unsplash.com/photo-1447684808650-354ae64db5b8?dpr=2&auto=format&fit=crop&w=1500&h=1004&q=80&cs=tinysrgb&crop=') no-repeat fixed center;
  height: 35em;
  color: white;
  width: 100%;
  background-size: cover;
}*/
